<?xml version="1.0" encoding="utf-8" ?>
<appSettings file="WebAppSettings.config">
	<!--exemplos
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />-->
	
	<add key="APIKeys:PublicKey" value="TEST-513e18f0-9c16-4757-a578-eae469af9934" />
	<!--TODO encriptar Access Token da Aplicação do Mercado Pago-->
	<add key="APIKeys:AccessToken" value="TEST-8388673821271059-011218-1b7e64c74029bcf83933d2d844f58b75-357098407" />
</appSettings>